/* line 3, ../../src/stylesheet/all.sass */
.top.left {
  -moz-border-radius-topleft: 15%;
  -webkit-border-top-left-radius: 15%;
  border-top-left-radius: 15%;
}

/* line 5, ../../src/stylesheet/all.sass */
.top.right {
  -moz-border-radius-topright: 15%;
  -webkit-border-top-right-radius: 15%;
  border-top-right-radius: 15%;
}

/* line 7, ../../src/stylesheet/all.sass */
.bot.left {
  -moz-border-radius-bottomleft: 15%;
  -webkit-border-bottom-left-radius: 15%;
  border-bottom-left-radius: 15%;
}

/* line 9, ../../src/stylesheet/all.sass */
.bot.right {
  -moz-border-radius-bottomright: 15%;
  -webkit-border-bottom-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

/* line 47, ../../src/stylesheet/all.sass */
body {
  width: 100vw;
  height: 100vh;
  background: url(../images/body-background.png) #eae6d1;
  text-align: center;
  overflow: auto;
  position: relative;
  line-height: normal;
}

/* line 57, ../../src/stylesheet/all.sass */
#half_left {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 61, ../../src/stylesheet/all.sass */
#half_left .contain {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
/* line 66, ../../src/stylesheet/all.sass */
#half_left .contain .hp {
  width: 100%;
  height: 25%;
  background-color: #ea9999;
  position: relative;
  color: #cc0000;
  font-size: 20vh;
  border: 3px solid black;
}
/* line 74, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 {
  width: 90%;
  height: 75%;
  float: right;
}
/* line 78, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .sp {
  width: 50%;
  height: 25%;
  background-color: #cfe2f3;
  position: relative;
  color: #073763;
  font-size: 15vh;
  float: left;
  border: 3px solid black;
  margin-top: -3px;
}
/* line 88, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 {
  width: 82%;
  height: 75%;
  margin: 0 auto;
}
/* line 92, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .name {
  width: 50%;
  height: 12%;
  background-color: #ffe599;
  font-size: 5vh;
  float: left;
  border: 3px solid black;
  margin-top: -3px;
}
/* line 100, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info {
  width: 50%;
  height: 90%;
  padding: 3vh;
  background-color: #fff2cc;
  font-size: 6vh;
  float: left;
  border: 3px solid black;
  margin-top: -3px;
}
/* line 109, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .profession {
  cursor: pointer;
  width: 100%;
  height: 8vh;
}
/* line 113, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .profession:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 115, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .pet, #half_left .contain .contain2 .contain3 .info .pet-num {
  height: 10vh;
  font-size: 6vh;
  position: relative;
  margin: 0 auto;
  background-color: #fff3d1;
  width: 10vh;
  border: 3px solid;
}
/* line 123, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .pet div, #half_left .contain .contain2 .contain3 .info .pet-num div {
  width: 100%;
  height: 100%;
}
/* line 126, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .pet .metal, #half_left .contain .contain2 .contain3 .info .pet-num .metal {
  background-color: white;
}
/* line 128, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .pet .wood, #half_left .contain .contain2 .contain3 .info .pet-num .wood {
  background-color: green;
}
/* line 130, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .pet .water, #half_left .contain .contain2 .contain3 .info .pet-num .water {
  background-color: blue;
}
/* line 132, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .pet .fire, #half_left .contain .contain2 .contain3 .info .pet-num .fire {
  background-color: red;
}
/* line 134, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .pet .earth, #half_left .contain .contain2 .contain3 .info .pet-num .earth {
  background-color: yellow;
}
/* line 136, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor {
  margin-top: 10vh;
}
/* line 138, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor > div {
  width: 6vh;
  display: inline-block;
  border: 1px dashed black;
  cursor: pointer;
}
/* line 143, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor > div div {
  opacity: 0.5;
}
/* line 145, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor > div.spawn {
  border: 1px solid black;
}
/* line 147, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .metal {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid ghostwhite;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .metal:before {
  border-bottom: 2vh solid ghostwhite;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .metal:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid ghostwhite;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 149, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .wood {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid green;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .wood:before {
  border-bottom: 2vh solid green;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .wood:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid green;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 151, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .water {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid blue;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .water:before {
  border-bottom: 2vh solid blue;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .water:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid blue;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 153, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .fire {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid red;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .fire:before {
  border-bottom: 2vh solid red;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .fire:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid red;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 155, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .earth {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid yellow;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .earth:before {
  border-bottom: 2vh solid yellow;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .contain .contain2 .contain3 .info .meteor .earth:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid yellow;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 157, ../../src/stylesheet/all.sass */
#half_left .star, #half_left .dark {
  width: 15vh;
  height: 15vh;
  background-color: lightskyblue;
  position: absolute;
  top: 60vh;
  left: 0;
  border: 3px solid black;
}
/* line 165, ../../src/stylesheet/all.sass */
#half_left .star .metal, #half_left .dark .metal {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid ghostwhite;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .star .metal:before, #half_left .dark .metal:before {
  border-bottom: 5.6vh solid ghostwhite;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .star .metal:after, #half_left .dark .metal:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid ghostwhite;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 167, ../../src/stylesheet/all.sass */
#half_left .star .wood, #half_left .dark .wood {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid green;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .star .wood:before, #half_left .dark .wood:before {
  border-bottom: 5.6vh solid green;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .star .wood:after, #half_left .dark .wood:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid green;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 169, ../../src/stylesheet/all.sass */
#half_left .star .water, #half_left .dark .water {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid blue;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .star .water:before, #half_left .dark .water:before {
  border-bottom: 5.6vh solid blue;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .star .water:after, #half_left .dark .water:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid blue;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 171, ../../src/stylesheet/all.sass */
#half_left .star .fire, #half_left .dark .fire {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid red;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .star .fire:before, #half_left .dark .fire:before {
  border-bottom: 5.6vh solid red;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .star .fire:after, #half_left .dark .fire:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid red;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 173, ../../src/stylesheet/all.sass */
#half_left .star .earth, #half_left .dark .earth {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid yellow;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_left .star .earth:before, #half_left .dark .earth:before {
  border-bottom: 5.6vh solid yellow;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_left .star .earth:after, #half_left .dark .earth:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid yellow;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 175, ../../src/stylesheet/all.sass */
#half_left .dark {
  top: 75vh;
  background-color: #434343;
  color: white;
  font-size: 12vh;
  margin-top: -3px;
}

/* line 57, ../../src/stylesheet/all.sass */
#half_right {
  width: 50%;
  height: 100%;
  float: left;
}
/* line 61, ../../src/stylesheet/all.sass */
#half_right .contain {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
/* line 66, ../../src/stylesheet/all.sass */
#half_right .contain .hp {
  width: 100%;
  height: 25%;
  background-color: #ea9999;
  position: relative;
  color: #cc0000;
  font-size: 20vh;
  border: 3px solid black;
}
/* line 74, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 {
  width: 90%;
  height: 75%;
  float: left;
}
/* line 78, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .sp {
  width: 50%;
  height: 25%;
  background-color: #cfe2f3;
  position: relative;
  color: #073763;
  font-size: 15vh;
  float: right;
  border: 3px solid black;
  margin-top: -3px;
}
/* line 88, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 {
  width: 82%;
  height: 75%;
  margin: 0 auto;
}
/* line 92, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .name {
  width: 50%;
  height: 12%;
  background-color: #ffe599;
  font-size: 5vh;
  float: right;
  border: 3px solid black;
  margin-top: -3px;
}
/* line 100, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info {
  width: 50%;
  height: 90%;
  padding: 3vh;
  background-color: #fff2cc;
  font-size: 6vh;
  float: right;
  border: 3px solid black;
  margin-top: -3px;
}
/* line 109, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .profession {
  cursor: pointer;
  width: 100%;
  height: 8vh;
}
/* line 113, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .profession:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 115, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .pet, #half_right .contain .contain2 .contain3 .info .pet-num {
  height: 10vh;
  font-size: 6vh;
  position: relative;
  margin: 0 auto;
  background-color: #fff3d1;
  width: 10vh;
  border: 3px solid;
}
/* line 123, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .pet div, #half_right .contain .contain2 .contain3 .info .pet-num div {
  width: 100%;
  height: 100%;
}
/* line 126, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .pet .metal, #half_right .contain .contain2 .contain3 .info .pet-num .metal {
  background-color: white;
}
/* line 128, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .pet .wood, #half_right .contain .contain2 .contain3 .info .pet-num .wood {
  background-color: green;
}
/* line 130, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .pet .water, #half_right .contain .contain2 .contain3 .info .pet-num .water {
  background-color: blue;
}
/* line 132, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .pet .fire, #half_right .contain .contain2 .contain3 .info .pet-num .fire {
  background-color: red;
}
/* line 134, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .pet .earth, #half_right .contain .contain2 .contain3 .info .pet-num .earth {
  background-color: yellow;
}
/* line 136, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor {
  margin-top: 10vh;
}
/* line 138, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor > div {
  width: 6vh;
  display: inline-block;
  border: 1px dashed black;
  cursor: pointer;
}
/* line 143, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor > div div {
  opacity: 0.5;
}
/* line 145, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor > div.spawn {
  border: 1px solid black;
}
/* line 147, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .metal {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid ghostwhite;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .metal:before {
  border-bottom: 2vh solid ghostwhite;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .metal:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid ghostwhite;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 149, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .wood {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid green;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .wood:before {
  border-bottom: 2vh solid green;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .wood:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid green;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 151, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .water {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid blue;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .water:before {
  border-bottom: 2vh solid blue;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .water:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid blue;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 153, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .fire {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid red;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .fire:before {
  border-bottom: 2vh solid red;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .fire:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid red;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 155, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .earth {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 1.78571vh 0;
  padding: 0;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid yellow;
  border-left: 2.5vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .earth:before {
  border-bottom: 2vh solid yellow;
  border-left: 0.75vh solid transparent;
  border-right: 0.75vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -1.25vh;
  left: -1.625vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .contain .contain2 .contain3 .info .meteor .earth:after {
  position: absolute;
  display: block;
  top: 0.075vh;
  left: -2.625vh;
  width: 0px;
  height: 0px;
  border-right: 2.5vh solid transparent;
  border-bottom: 1.75vh solid yellow;
  border-left: 2.5vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 157, ../../src/stylesheet/all.sass */
#half_right .star, #half_right .dark {
  width: 15vh;
  height: 15vh;
  background-color: lightskyblue;
  position: absolute;
  top: 60vh;
  right: 0;
  border: 3px solid black;
}
/* line 165, ../../src/stylesheet/all.sass */
#half_right .star .metal, #half_right .dark .metal {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid ghostwhite;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .star .metal:before, #half_right .dark .metal:before {
  border-bottom: 5.6vh solid ghostwhite;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .star .metal:after, #half_right .dark .metal:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid ghostwhite;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 167, ../../src/stylesheet/all.sass */
#half_right .star .wood, #half_right .dark .wood {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid green;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .star .wood:before, #half_right .dark .wood:before {
  border-bottom: 5.6vh solid green;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .star .wood:after, #half_right .dark .wood:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid green;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 169, ../../src/stylesheet/all.sass */
#half_right .star .water, #half_right .dark .water {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid blue;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .star .water:before, #half_right .dark .water:before {
  border-bottom: 5.6vh solid blue;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .star .water:after, #half_right .dark .water:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid blue;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 171, ../../src/stylesheet/all.sass */
#half_right .star .fire, #half_right .dark .fire {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid red;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .star .fire:before, #half_right .dark .fire:before {
  border-bottom: 5.6vh solid red;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .star .fire:after, #half_right .dark .fire:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid red;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 173, ../../src/stylesheet/all.sass */
#half_right .star .earth, #half_right .dark .earth {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 5vh 0;
  padding: 0;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid yellow;
  border-left: 7vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#half_right .star .earth:before, #half_right .dark .earth:before {
  border-bottom: 5.6vh solid yellow;
  border-left: 2.1vh solid transparent;
  border-right: 2.1vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -3.5vh;
  left: -4.55vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#half_right .star .earth:after, #half_right .dark .earth:after {
  position: absolute;
  display: block;
  top: 0.21vh;
  left: -7.35vh;
  width: 0px;
  height: 0px;
  border-right: 7vh solid transparent;
  border-bottom: 4.9vh solid yellow;
  border-left: 7vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 175, ../../src/stylesheet/all.sass */
#half_right .dark {
  top: 75vh;
  background-color: #434343;
  color: white;
  font-size: 12vh;
  margin-top: -3px;
}

/* line 186, ../../src/stylesheet/all.sass */
.hp, .sp, .star, #half_left .dark, #half_right .dark, .dark, .env, #tools {
  cursor: pointer;
}
/* line 188, ../../src/stylesheet/all.sass */
.hp:active, .sp:active, .star:active, #half_left .dark:active, #half_right .dark:active, .dark:active, .env:active, #tools:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* line 192, ../../src/stylesheet/all.sass */
#env {
  width: 15vh;
  height: 15vh;
  position: absolute;
  bottom: 26vh;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #b45f06;
  border: 3px solid black;
}
/* line 202, ../../src/stylesheet/all.sass */
#env div {
  width: 80%;
  height: 80%;
  margin: 10% auto;
}
/* line 206, ../../src/stylesheet/all.sass */
#env .metal {
  background-color: white;
}
/* line 208, ../../src/stylesheet/all.sass */
#env .wood {
  background-color: green;
}
/* line 210, ../../src/stylesheet/all.sass */
#env .water {
  background-color: blue;
}
/* line 212, ../../src/stylesheet/all.sass */
#env .fire {
  background-color: red;
}
/* line 214, ../../src/stylesheet/all.sass */
#env .earth {
  background-color: yellow;
}

/* line 216, ../../src/stylesheet/all.sass */
#envtxt {
  width: 9vh;
  height: 9vh;
  position: absolute;
  bottom: 17vh;
  margin: 3px auto;
  left: 0;
  right: 0;
  background-color: #ea9999;
  font-size: 7.5vh;
  border: 3px solid black;
}

/* line 227, ../../src/stylesheet/all.sass */
#tools {
  width: 15vh;
  height: 15vh;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #f6b26b;
  border: 3px solid black;
}
/* line 237, ../../src/stylesheet/all.sass */
#tools .gear {
  width: 9.78261vh;
  height: 9.78261vh;
  position: relative;
  top: 2.12665vh;
  left: 2.12665vh;
  border-radius: 50%;
  box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
}
/* line 247, ../../src/stylesheet/all.sass */
#tools .gear:after {
  content: "";
  position: absolute;
  width: 5.86957vh;
  height: 5.86957vh;
  background: #f6b26b;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -2.93478vh;
  margin-left: -2.93478vh;
  box-shadow: 0px 0px 10px white(0.1), inset 0px 0px 10px black(0.1), inset 0px 2px 0px 0px #080808, inset 0px -1px 0px 0px #888888;
}
/* line 259, ../../src/stylesheet/all.sass */
#tools .gear .gear-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #555555;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 266, ../../src/stylesheet/all.sass */
#tools .gear .gear-inner .bar {
  width: 13.5vh;
  height: 2.34783vh;
  background-color: #555555;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1.17391vh;
  margin-left: -6.75vh;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 278, ../../src/stylesheet/all.sass */
#tools .gear .gear-inner .bar:nth-child(2) {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 280, ../../src/stylesheet/all.sass */
#tools .gear .gear-inner .bar:nth-child(3) {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

/* line 290, ../../src/stylesheet/all.sass */
.for-hp {
  background-color: #f4cccc;
  width: 45vw;
  height: 85vh;
  padding: 1vh 0;
}
/* line 295, ../../src/stylesheet/all.sass */
.for-hp .row > .btn {
  width: 10vw;
  height: 15vh;
  margin: 0.5vh 0.5vw;
  font-size: 10vh;
}
/* line 286, ../../src/stylesheet/all.sass */
.for-hp .output {
  width: 32.5vw !important;
  border: 3px solid red;
  color: red;
}

/* line 301, ../../src/stylesheet/all.sass */
.for-sp {
  background-color: #d0e0e3;
  width: 45vw;
  height: 85vh;
  padding: 1vh 0;
}
/* line 306, ../../src/stylesheet/all.sass */
.for-sp .row > .btn {
  width: 10vw;
  height: 15vh;
  margin: 0.5vh 0.5vw;
  font-size: 10vh;
}
/* line 286, ../../src/stylesheet/all.sass */
.for-sp .output {
  width: 32.5vw !important;
  border: 3px solid blue;
  color: blue;
}

/* line 313, ../../src/stylesheet/all.sass */
#select_career {
  background-color: #fff2cc;
  width: 45vw;
  height: 85vh;
}
/* line 317, ../../src/stylesheet/all.sass */
#select_career .btn {
  width: 30vw;
  height: 8vh;
  margin: 0.7vh;
  font-size: 5vh;
}
/* line 322, ../../src/stylesheet/all.sass */
#select_career li {
  width: 30vw;
  height: 8vh;
  font-size: 5vh;
}

/* line 327, ../../src/stylesheet/all.sass */
#select_attr {
  width: 45vw;
  height: 50vh;
}
/* line 330, ../../src/stylesheet/all.sass */
#select_attr.for-star {
  background-color: #fff2cc;
}
/* line 332, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-metal {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 7.14286vh 0;
  padding: 0;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid ghostwhite;
  border-left: 10vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-metal:before {
  border-bottom: 8vh solid ghostwhite;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -5vh;
  left: -6.5vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-metal:after {
  position: absolute;
  display: block;
  top: 0.3vh;
  left: -10.5vh;
  width: 0px;
  height: 0px;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid ghostwhite;
  border-left: 10vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 334, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-wood {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 7.14286vh 0;
  padding: 0;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid green;
  border-left: 10vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-wood:before {
  border-bottom: 8vh solid green;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -5vh;
  left: -6.5vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-wood:after {
  position: absolute;
  display: block;
  top: 0.3vh;
  left: -10.5vh;
  width: 0px;
  height: 0px;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid green;
  border-left: 10vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 336, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-water {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 7.14286vh 0;
  padding: 0;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid blue;
  border-left: 10vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-water:before {
  border-bottom: 8vh solid blue;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -5vh;
  left: -6.5vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-water:after {
  position: absolute;
  display: block;
  top: 0.3vh;
  left: -10.5vh;
  width: 0px;
  height: 0px;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid blue;
  border-left: 10vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 338, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-fire {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 7.14286vh 0;
  padding: 0;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid red;
  border-left: 10vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-fire:before {
  border-bottom: 8vh solid red;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -5vh;
  left: -6.5vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-fire:after {
  position: absolute;
  display: block;
  top: 0.3vh;
  left: -10.5vh;
  width: 0px;
  height: 0px;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid red;
  border-left: 10vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 340, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-earth {
  position: relative;
  width: 0px;
  height: 0px;
  margin: 7.14286vh 0;
  padding: 0;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid yellow;
  border-left: 10vh solid transparent;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
}
/* line 22, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-earth:before {
  border-bottom: 8vh solid yellow;
  border-left: 3vh solid transparent;
  border-right: 3vh solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -5vh;
  left: -6.5vh;
  display: block;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
/* line 34, ../../src/stylesheet/all.sass */
#select_attr.for-star .for-earth:after {
  position: absolute;
  display: block;
  top: 0.3vh;
  left: -10.5vh;
  width: 0px;
  height: 0px;
  border-right: 10vh solid transparent;
  border-bottom: 7vh solid yellow;
  border-left: 10vh solid transparent;
  content: "";
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg);
  transform: rotate(-70deg);
}
/* line 342, ../../src/stylesheet/all.sass */
#select_attr.for-env {
  background-color: #fce5cd;
}
/* line 344, ../../src/stylesheet/all.sass */
#select_attr.for-env .btn {
  width: 20vh;
  height: 20vh;
  margin: 1.5vh;
}
/* line 348, ../../src/stylesheet/all.sass */
#select_attr.for-env .for-metal {
  background-color: white;
}
/* line 350, ../../src/stylesheet/all.sass */
#select_attr.for-env .for-wood {
  background-color: green;
}
/* line 352, ../../src/stylesheet/all.sass */
#select_attr.for-env .for-water {
  background-color: blue;
}
/* line 354, ../../src/stylesheet/all.sass */
#select_attr.for-env .for-fire {
  background-color: red;
}
/* line 356, ../../src/stylesheet/all.sass */
#select_attr.for-env .for-earth {
  background-color: yellow;
}
/* line 358, ../../src/stylesheet/all.sass */
#select_attr.for-pet {
  background-color: #fce5cd;
}
/* line 360, ../../src/stylesheet/all.sass */
#select_attr.for-pet .btn {
  border-radius: 10%;
  width: 20vh;
  height: 20vh;
  margin: 1.5vh;
}
/* line 365, ../../src/stylesheet/all.sass */
#select_attr.for-pet .for-metal {
  background-color: white;
}
/* line 367, ../../src/stylesheet/all.sass */
#select_attr.for-pet .for-wood {
  background-color: green;
}
/* line 369, ../../src/stylesheet/all.sass */
#select_attr.for-pet .for-water {
  background-color: blue;
}
/* line 371, ../../src/stylesheet/all.sass */
#select_attr.for-pet .for-fire {
  background-color: red;
}
/* line 373, ../../src/stylesheet/all.sass */
#select_attr.for-pet .for-earth {
  background-color: yellow;
}

/* line 376, ../../src/stylesheet/all.sass */
#point {
  background-color: transparent;
  width: 10vh;
}
/* line 379, ../../src/stylesheet/all.sass */
#point .add, #point .cut {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  border: 5px solid black;
  font-size: 5vh;
}
/* line 386, ../../src/stylesheet/all.sass */
#point .cut {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 392, ../../src/stylesheet/all.sass */
#menu {
  background-color: #fce5cd;
  width: 45vw;
  height: 50vh;
}
/* line 396, ../../src/stylesheet/all.sass */
#menu .btn {
  width: 10vw;
  margin: 1.5vh;
}

/* line 400, ../../src/stylesheet/all.sass */
.metal {
  color: white;
}

/* line 402, ../../src/stylesheet/all.sass */
.wood {
  color: green;
}

/* line 404, ../../src/stylesheet/all.sass */
.water {
  color: blue;
}

/* line 406, ../../src/stylesheet/all.sass */
.fire {
  color: red;
}

/* line 408, ../../src/stylesheet/all.sass */
.earth {
  color: yellow;
}

/* line 411, ../../src/stylesheet/all.sass */
.for-null {
  background-color: transparent;
  width: 20vh;
  height: 20vh;
  margin: 1.5vh;
  border: 3px dashed black;
}

/* line 418, ../../src/stylesheet/all.sass */
.popover-content {
  white-space: pre-wrap;
}
