@import compass/css3

.top.left
  +border-top-left-radius(15%)
.top.right
  +border-top-right-radius(15%)
.bot.left
  +border-bottom-left-radius(15%)
.bot.right
  +border-bottom-right-radius(15%)

body
  width: 100vw
  height: 100vh
  background: url(../images/body-background.png) #eae6d1
  text-align: center
  overflow: auto
  position: relative
  line-height: normal

=symmetry($main, $sub)
  #half_#{$main}
    width: 50%
    height: 100%
    float: left
    .contain
      width: 90%
      height: 100%
      margin: 0 auto
      $cut: 25%
      .hp
        width: 100%
        height: $cut
        background-color: #ea9999
        position: relative
        color: #cc0000
        font-size: 20vh
        border: 3px solid black
      .contain2
        width: 90%
        height: 100% - $cut
        float: $sub
        .sp
          width: 50%
          height: $cut
          background-color: #cfe2f3
          position: relative
          color: #073763
          font-size: 15vh
          float: $main
          border: 3px solid black
          margin-top: -3px
        .contain3
          width: 82%
          height: 100% - $cut
          margin: 0 auto
          .name
            width: 50%
            height: 12%
            background-color: #ffe599
            font-size: 5vh
            float: $main
            border: 3px solid black
            margin-top: -3px
          .info
            width: 50%
            height: 90%
            padding: 3vh 3vw
            background-color: #fff2cc
            font-size: 6vh
            float: $main
            border: 3px solid black
            margin-top: -3px
            .profession, .pet, .pet-num
              position: relative
            .pet, .pet-num
              width: 10vh
              height: 10vh
    .star
      width: 15vh
      height: 15vh
      background-color: #f3f3f3
      position: absolute
      top: 60vh
      #{$main}: 0
      border: 3px solid black
    .dark
      @extend .star
      top: 75vh
      background-color: #434343
      color: white
      font-size: 12vh
      margin-top: -3px

+symmetry(left, right)
+symmetry(right, left)

$w: 15vh
#env
  width: $w
  height: $w
  position: absolute
  bottom: $w + 2vh + $w * 0.6
  margin: 0 auto
  left: 0
  right: 0
  background-color: #b45f06
  border: 3px solid black
#envtxt
  width: $w * 0.6
  height: $w * 0.6
  position: absolute
  bottom: $w + 2vh
  margin: 3px auto
  left: 0
  right: 0
  background-color: #ea9999
  font-size: $w * 0.5
  border: 3px solid black
#tools
  width: $w
  height: $w
  position: absolute
  bottom: 0
  margin: 0 auto
  left: 0
  right: 0
  background-color: #f6b26b
  border: 3px solid black

.dormant
  display: none

$w: 45vw
$h: 85vh
=output($color)
  .output
    width: 32.5vw !important
    border: 3px solid $color
    color: $color
.for-hp
  background-color: #f4cccc
  width: $w
  height: $h
  padding: 1vh 0
  .row > .btn
    width: 10vw
    height: 15vh
    margin: .5vh .5vw
    font-size: 10vh
  +output(red)
.for-sp
  background-color: #d0e0e3
  width: $w
  height: $h
  padding: 1vh 0
  .row > .btn
    width: 10vw
    height: 15vh
    margin: .5vh .5vw
    font-size: 10vh
  +output(blue)

#select_career
  background-color: #fff2cc
  width: $w
  height: $h
#select_attr
  width: $w
  height: 50vh
  .btn
    width: 20vh
    height: 20vh
    margin: 1.5vh
#point
  background-color: transparent
  width: 10vh
  .btn
    width: 10vh
    height: 10vh
    border-radius: 50%
    background-color: yellow
  .btn + .btn
    position: absolute
    left: 0
    bottom: 0
#menu
  background-color: #fce5cd
  width: $w
  height: 50vh
  .btn
    width: 10vw
    margin: 1.5vh

.for-star
  background-color: #fff2cc
  .btn
    border-radius: 50%
.for-env
  background-color: #fce5cd
.for-pet
  background-color: #fce5cd
  .btn
    border-radius: 10%

.metal
  color: white
.wood
  color: green
.water
  color: blue
.fire
  color: red
.earth
  color: yellow

.for-null
  background-color: transparent
.for-metal
  background-color: white
.for-wood
  background-color: green
.for-water
  background-color: blue
.for-fire
  background-color: red
.for-earth
  background-color: yellow
