<!doctype html>
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    %title CFE scoreboard
    %link(rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    %link(rel="stylesheet" href="stylesheet/all.css")
  %body
    #half_left
      .contain
        .hp.bot.left 250
        .contain2
          .sp.bot.left --
          .sp.bot.right --
          .contain3
            .name(contenteditable) FallCloud
            .name(contenteditable) Prof. X
            .info.bot.left.right
              .profession 無職業
              .pet.pop-mid.btn
                %div
              .pet-num.btn
              .meteor
                %div
                  .metal
                %div
                  .wood
                %div
                  .water
                %div
                  .fire
                %div
                  .earth
            .info.bot.left.right
              .profession 無職業
              .pet.pop-mid.btn
                %div
              .pet-num.btn
              .meteor
                %div
                  .metal
                %div
                  .wood
                %div
                  .water
                %div
                  .fire
                %div
                  .earth
      .dark.bot.right
      .star.right.top.pop-mid
        %div

    #env.env.top.left.bot.right.pop-mid
      %div
    #envtxt.env.bot.left.right.pop-mid 無
    #tools.top.left.right.pop-mid(data-toggle="popover" data-placement="top" data-trigger="manual")
      .gear
        .gear-inner
          .bar
          .bar
          .bar

    #half_right
      .contain
        .hp.bot.right 250
        .contain2
          .sp.bot.right --
          .sp.bot.left --
          .contain3
            .name(contenteditable) 彰化王
            .name(contenteditable) 幻影
            .info.bot.left.right
              .profession 無職業
              .pet.pop-mid.btn
                %div
              .pet-num.btn
              .meteor
                %div
                  .metal
                %div
                  .wood
                %div
                  .water
                %div
                  .fire
                %div
                  .earth
            .info.bot.left.right
              .profession 無職業
              .pet.pop-mid.btn
                %div
              .pet-num.btn
              .meteor
                %div
                  .metal
                %div
                  .wood
                %div
                  .water
                %div
                  .fire
                %div
                  .earth
      .dark.bot.left
      .star.left.top.pop-mid
        %div

    .calcu.container(hidden)
      .row
        .btn.output 0
        .btn.btn-primary.enter =
      .row
        .btn.btn-primary 7
        .btn.btn-primary 8
        .btn.btn-primary 9
        .btn.btn-info +
      .row
        .btn.btn-primary 4
        .btn.btn-primary 5
        .btn.btn-primary 6
        .btn.btn-info -
      .row
        .btn.btn-primary 1
        .btn.btn-primary 2
        .btn.btn-primary 3
        .btn.btn-info *
      .row
        .btn.btn-primary 0
        .btn.btn-danger C
        .btn.btn-default Del
        .btn.btn-info /

    #select_career.container(hidden)
      .btn-group.btn-group-vertical
        %a.btn.btn-primary(href="#") 無職業
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            戰士學派
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 戰士
            %li
              %a(href="#") 戰神
            %li
              %a(href="#") 勇者
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            尋道者學派
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 尋道者
            %li
              %a(href="#") 述道者
            %li
              %a(href="#") 仁者
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            幻術師學派
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 幻術師
            %li
              %a(href="#") 幻靈使
            %li
              %a(href="#") 隱者
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            法師學派
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 法師
            %li
              %a(href="#") 法導
            %li
              %a(href="#") 智者
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            風行者學派
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 風行者
            %li
              %a(href="#") 影行者
            %li
              %a(href="#") 武者
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            無學派
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 初行客
            %li
              %a(href="#") 仙者
            %li
              %a(href="#") 聖者
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            舊世代
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 調律師
            %li
              %a(href="#") 天響師
            %li.divider
            %li
              %a(href="#") 太陰術士
            %li
              %a(href="#") 太陰導師
            %li.divider
            %li
              %a(href="#") 風水師
            %li
              %a(href="#") 龍脈使
        .btn-group
          .btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
            雙學派
            %span.caret
          %ul.dropdown-menu(role="menu")
            %li
              %a(href="#") 戰道者
            %li
              %a(href="#") 幻戰士
            %li
              %a(href="#") 戰法師
            %li
              %a(href="#") 影戰士
            %li
              %a(href="#") 道幻師
            %li
              %a(href="#") 道法師
            %li
              %a(href="#") 影道者
            %li
              %a(href="#") 法幻士
            %li
              %a(href="#") 幻行者
            %li
              %a(href="#") 法行者

    #select_attr.container(hidden)
      .row
        .btn.for-null(data-attr="")
        .btn.for-metal(data-attr="metal")
        .btn.for-wood(data-attr="wood")
      .row
        .btn.for-water(data-attr="water")
        .btn.for-fire(data-attr="fire")
        .btn.for-earth(data-attr="earth")

    #point(hidden)
      .add.btn.btn-primary +
      .cut.btn.btn-warning -

    #menu.container(hidden)
      .btn.btn-primary 初始化
      .btn.btn-primary 設定

    %script(src="https://code.jquery.com/jquery-1.11.1.min.js")
    %script(src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js")
    %script(src="http://malsup.github.io/jquery.blockUI.js")
    %script(src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    %script(src="javascript/all.js")
